:root {
  --branding-color: #5c715e;
  --secondary-color: #f2f9f1;
  --accent-color: #101d11;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-weight: normal;
  font-size: 28px;
}
nav {
  background-color: #faf7f5;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 100px;
  font-size: 22px;
  margin-left: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.brand-logo {
  max-height: 100px;
}

.hero {
  background: var(--secondary-color);
  padding: 80px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 96px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}
.project-descriptions h2 {
  font-size: 48px;
}
.project-descriptions {
  padding: 120px 60px;
}
.content-container {
  padding: 80px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 1.2;
}
.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.selfie {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin: 10px;
  padding: 35px;
  width: 350px;
}

footer {
  margin: 60px 0;
}

footer p {
  font-size: 22px;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 80px;
  border-radius: 10px;
}
footer .contact-box h3 {
  font-size: 48px;
}
footer .contact-box p {
  margin: 0;
  font-size: 18px;
}
footer .btn {
  margin-top: 15px;
}

footer .email-link {
  margin: 30px;
  font-size: 24px;
}
footer .email-link a {
  color: var(--accent-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
footer .email-link a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 15px;
}

footer .social-links a:hover {
  transition: all 100ms ease-in-out;
  color: var(--secondary-color);
  background-color: var(--branding-color);
}
@media (max-width: 900px) {
  nav a {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-descriptions {
    padding: 20px;
    text-align: center;
  }
  .project-descriptions h2 {
    font-size: 24px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .contact-box {
    padding: 20px;
  }
  .contact-box h3 {
    font-size: 26px;
  }
}
