:root {
  --accent-color: #b6cdbd;
  --branding-color: #5c715e;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --secondary-color: #f2f9f1;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-weight: normal;
  font-size: 28px;
}
.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 96px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}
.project-descriptions h2 {
  font-size: 48px;
}
.project-descriptions {
  padding: 120px 60px;
}
@media (max-width: 576px) {
  p {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-descriptions {
    padding: 20px;
    text-align: center;
  }
  .project-descriptions h2 {
    font-size: 24px;
  }
}
